.text-green {
  color: #4caf50;
}

.text-blue {
  color: #2196f3 !important;
}

.text-black {
  color: #000 !important;
}

.text-red {
  color: red;
}

.text-black-45 {
  color: rgba(0, 0, 0, 0.45);
}

.text-black-70 {
  color: rgba(0, 0, 0, 0.7);
}

.bg-black-02 {
  background-color: rgba(0, 0, 0, 0.02);
}

.bg-grad {
  background-image: linear-gradient(to top, orange, rgb(223, 208, 1), pink);
}
.bg-grad2 {
  background: rgb(7, 151, 14);
}

.button:hover {
  background: #7513e4;
  transform: scale(1.11);
  // text-transform: uppercase;
  transition-duration: 0.5s;
}
.bttn:hover {
  border-radius: "12px";
  // background-color: rgb(255, 51, 0);
  transform: scale(1.1);

  transition-duration: 1s;
}
// .hov:hover {
//   transform: scale(1.1);
//   transition-duration: 0.5s;
// }
